@model TaxiManagementSystem.DTO.Ride

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Ride</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Destination.City)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Destination.City)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Source.City)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Source.City)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Taxi.DriverId)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Taxi.DriverId)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.User.Email)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.User.Email)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Distance)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Distance)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.BookingTime)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.BookingTime)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.RideStatus)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.RideStatus)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.IsDeleted)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.IsDeleted)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CreatedDate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CreateUser)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CreateUser)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.LastModificationDate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LastModificationDate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.LastModificationUser)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LastModificationUser)
            </dd>
    
        </dl>
    </div>
    <p>
        @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |*@
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
